//- index.jade
extends layout

block body
  body(fullbleed layout center-center)
    .head
      h1 Do you love me, John?
      p A small app for demonstration of HD-SHKR1
      h2.serial
      button.reset RESET
    //- .channels
    //-   .pad NS
    .question
      .text Do you love me, John?