//- index.jade
doctype html
html
  head
    title Do you love me, John?
    link(rel="icon", type="image/png", href="images/favicon.png")
    link(rel="stylesheet", type="text/css", href="stylesheets/main.css")
    script(type="application/javascript", src="components/jquery/dist/jquery.min.js")
    script(src="/socket.io/socket.io.js")
  block body
  script(src="scripts/sockets.js")
  script(src="scripts/interface.js")
