html [block] {
  display: block;
}
html [hidden] {
  display: none !important;
}
html [relative] {
  position: relative;
}
html [fit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
body[fullbleed] {
  margin: 0;
  height: 100vh;
}
html [layout] {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
html [layout][horizontal] {
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
html [layout][horizontal][reverse] {
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}
html [layout][vertical] {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}
html [layout][vertical][reverse] {
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
html [layout][vertical] > [flex][auto-vertical] {
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
html [layout][horizontal][inline],
html [layout][vertical][inline] {
  display: -ms-inline-flexbox;
  display: -webkit-inline-flex;
  display: inline-flex;
}
html [layout][wrap] {
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
html [layout][wrap-reverse] {
  -ms-flex-wrap: wrap-reverse;
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}
html [flex] {
  -ms-flex: 1 1 1e-9px;
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 1e-9px;
  flex-basis: 1e-9px;
}
html [flex][auto] {
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
html [flex][none] {
  -ms-flex: none;
  -webkit-flex: none;
  flex: none;
}
html [flex][one] {
  -ms-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
html [flex][two] {
  -ms-flex: 2;
  -webkit-flex: 2;
  flex: 2;
}
html [flex][three] {
  -ms-flex: 3;
  -webkit-flex: 3;
  flex: 3;
}
html [flex][four] {
  -ms-flex: 4;
  -webkit-flex: 4;
  flex: 4;
}
html [flex][five] {
  -ms-flex: 5;
  -webkit-flex: 5;
  flex: 5;
}
html [flex][six] {
  -ms-flex: 6;
  -webkit-flex: 6;
  flex: 6;
}
html [flex][seven] {
  -ms-flex: 7;
  -webkit-flex: 7;
  flex: 7;
}
html [flex][eight] {
  -ms-flex: 8;
  -webkit-flex: 8;
  flex: 8;
}
html [flex][nine] {
  -ms-flex: 9;
  -webkit-flex: 9;
  flex: 9;
}
html [flex][ten] {
  -ms-flex: 10;
  -webkit-flex: 10;
  flex: 10;
}
html [flex][eleven] {
  -ms-flex: 11;
  -webkit-flex: 11;
  flex: 11;
}
html [flex][twelve] {
  -ms-flex: 12;
  -webkit-flex: 12;
  flex: 12;
}
html [layout][start] {
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
html [layout][center],
html [layout][center-center] {
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
html [layout][end] {
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  align-items: flex-end;
}
html [layout][start-justified] {
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}
html [layout][center-justified],
html [layout][center-center] {
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
html [layout][end-justified] {
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
html [layout][around-justified] {
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
html [layout][justified] {
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
html[self-start] {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
  align-self: flex-start;
}
html[self-center] {
  -ms-align-self: center;
  -webkit-align-self: center;
  align-self: center;
}
html[self-end] {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
  align-self: flex-end;
}
html[self-stretch] {
  -ms-align-self: stretch;
  -webkit-align-self: stretch;
  align-self: stretch;
}
html [segment],
html segment {
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  margin: 1em 0.5em;
  padding: 1em;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 0px 1px rgba(0,0,0,0.1);
  border-radius: 5px 5px 5px 5px;
}
* {
  outline: none;
}
*:active {
  outline: none;
}
body {
  background: #33332c;
  color: #555;
  font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', sans-serif;
}
h1,
h2 {
  font-weight: 200;
  font-size: 24pt;
  margin: 0;
  text-transform: uppercase;
}
p {
  margin: 0;
  font-size: 0.5em;
  color: #aaa;
}
h1 {
  color: #aaa;
}
select {
  font: inherit;
  color: inherit;
}
.head {
  position: absolute;
  left: 15px;
  top: 10px;
}
button {
  font: inherit;
  text-transform: inherit;
  color: inherit;
  background: none;
  border: none;
  padding: 0;
  margin-right: 10px;
  cursor: pointer;
}
button.selected {
  color: #e8e4d5;
}
button:active {
  color: #fff;
}
.serial {
  margin-top: 5px;
}
.serial .port {
  font-size: 0.5em;
  display: block;
}
.question {
  transform: translateY(0px);
  width: 3.5in;
  height: 2in;
  background: #e8e4d5;
  color: #615445;
  box-shadow: 10px 10px 0 0 rgba(0,0,0,0.2);
  transition: 0.5s background, 0.5s color, 0.5s ease-out opacity, 0.5s ease-out transform, 0.5s ease-out box-shadow;
  position: relative;
  overflow: hidden;
}
.question::after {
  content: '';
  opacity: 0.2;
  font-weight: 100;
  font-size: 36px;
  position: absolute;
  right: 15px;
  bottom: -2em;
  transition: 0.5s bottom, 0.5s opacity;
}
.question.yes {
  background: #76d68e;
  color: #fff8c3;
}
.question.yes::after {
  content: 'Yes.';
  opacity: 1;
  bottom: 15px;
}
.question.no {
  background: #e8826d;
  color: #9f5038;
}
.question.no::after {
  content: 'No.';
  opacity: 1;
  bottom: 15px;
}
.question.hidden {
  transform: translateY(50px);
  opacity: 0;
  box-shadow: 0px 0px 0 0 rgba(0,0,0,0.2);
  transition: 0.5s ease-out opacity, 0.5s ease-out transform, 0.5s ease-out box-shadow;
}
.question .text {
  width: 50%;
  font-weight: 100;
  font-size: 24px;
  margin: 15px;
}
